<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelos & Patas</title>
    <link rel="stylesheet" href="/home.css"/>
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/PP.png" alt="Logo Pelos & Patas">
    </div>
    <nav>
        <a href="/index">Home</a>
        <a href="/animais">Animais</a>
        <a href="/animais/cadastrar">Cadastrar</a>
    </nav>
</header>

<main>
    <section class="intro">
        <div class="texto">
            <h1>Bem Vindo!!!</h1>
            <p>
                Pelos e Patas é um espaço dedicado a conectar corações humanos e animais em busca de um lar cheio de amor.
                Nosso objetivo é facilitar o processo de adoção responsável, dando visibilidade a cães e gatos que esperam
                por uma segunda chance. Aqui, acreditamos que cada patinha merece um recomeço, e cada adoção é uma história
                de carinho, cuidado e esperança.
            </p>
        </div>
        <div class="imagem">
            <img src="/img/gatolaranja.jpg" alt="Gato laranja">
        </div>
    </section>

    <section class="adotados">
        <div class="topo">
            <h2>Alguns adotados :</h2>
            <a href="/animais">Mais Animais ></a>
        </div>

        <div class="cards">
            <div class="card">
                <img src="/img/melissa.jpg" alt="Melissa">
                <h3>Melissa</h3>
                <p class="detalhes">Pequena | Fêmea | 7 Meses</p>
                <p class="descricao">Gatinha castrada muito dócil e brincalhona, perfeita para trazer alegria ao seu lar.</p>
            </div>

            <div class="card">
                <img src="/img/coelho.jpg" alt="Melissa">
                <h3>Melissa</h3>
                <p class="detalhes">Pequena | Fêmea | 7 Meses</p>
                <p class="descricao">Gatinha castrada muito dócil e brincalhona, perfeita para trazer alegria ao seu lar.</p>
            </div>

            <div class="card">
                <img src="/img/pug.jpg" alt="Melissa">
                <h3>Melissa</h3>
                <p class="detalhes">Pequena | Fêmea | 7 Meses</p>
                <p class="descricao">Gatinha castrada muito dócil e brincalhona, perfeita para trazer alegria ao seu lar.</p>
            </div>

            <div class="card">
                <img src="/img/cachorro.jpg" alt="Melissa">
                <h3>Melissa</h3>
                <p class="detalhes">Pequena | Fêmea | 7 Meses</p>
                <p class="descricao">Gatinha castrada muito dócil e brincalhona, perfeita para trazer alegria ao seu lar.</p>
            </div>

            <div class="card">
                <img src="/img/pequeno.jpg" alt="Melissa">
                <h3>Melissa</h3>
                <p class="detalhes">Pequena | Fêmea | 7 Meses</p>
                <p class="descricao">Gatinha castrada muito dócil e brincalhona, perfeita para trazer alegria ao seu lar.</p>
            </div>

            <div class="card">
                <img src="/img/vesgo.jpg" alt="Melissa">
                <h3>Melissa</h3>
                <p class="detalhes">Pequena | Fêmea | 7 Meses</p>
                <p class="descricao">Gatinha castrada muito dócil e brincalhona, perfeita para trazer alegria ao seu lar.</p>
            </div>

        </div>
    </section>
</main>
</body>
</html>
